In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,Actor,Film,Year,Genre,Box Office Income (USD),IMDb Rating
0,Ram Charan,RRR,2022,Action/Drama,"160,000,000",8.0
1,Allu Arjun,Pushpa: The Rise,2021,Action/Crime,"130,000,000",7.6
2,Shah Rukh Khan,Jawan,2023,Action/Thriller,"137,000,000",7.0
3,Prabhas,Baahubali 2: The Conclusion,2017,Action/Fantasy,"278,000,000",8.2
4,Aamir Khan,Dangal,2016,Drama/Sport,"300,000,000",8.3
5,Rajinikanth,2,2018,Sci-Fi/Action,"110,000,000",6.2
6,Yash,K.G.F: Chapter 2,2022,Action/Crime,"160,000,000",8.3
7,Ranbir Kapoor,Brahm?stra,2022,Fantasy/Adventure,"120,000,000",5.6
8,Hrithik Roshan,War,2019,Action/Thriller,"76,000,000",6.5
9,Vijay,Leo,2023,Action/Thriller,"100,000,000",7.2

In [4]:
df['Actor']

0        Ram Charan
1        Allu Arjun
2    Shah Rukh Khan
3           Prabhas
4        Aamir Khan
5       Rajinikanth
6              Yash
7     Ranbir Kapoor
8    Hrithik Roshan
9             Vijay
Name: Actor, dtype: object

In [6]:
df[['Actor','IMDb Rating']]

            Actor  IMDb Rating
0      Ram Charan          8.0
1      Allu Arjun          7.6
2  Shah Rukh Khan          7.0
3         Prabhas          8.2
4      Aamir Khan          8.3
5     Rajinikanth          6.2
6            Yash          8.3
7   Ranbir Kapoor          5.6
8  Hrithik Roshan          6.5
9           Vijay          7.2

In [7]:
df.loc[1]

Actor                            Allu Arjun
Film                       Pushpa: The Rise
Year                                   2021
Genre                          Action/Crime
Box Office Income (USD)         130,000,000
IMDb Rating                             7.6
Name: 1, dtype: object

In [8]:
df.iloc[1]

Actor                            Allu Arjun
Film                       Pushpa: The Rise
Year                                   2021
Genre                          Action/Crime
Box Office Income (USD)         130,000,000
IMDb Rating                             7.6
Name: 1, dtype: object

In [10]:
df.loc[8,'IMDb Rating']

6.5

In [11]:
df.iloc[7,5]

5.6

In [12]:
df.loc[0:2,["Actor", "IMDb Rating"]]

            Actor  IMDb Rating
0      Ram Charan          8.0
1      Allu Arjun          7.6
2  Shah Rukh Khan          7.0

In [13]:
df.iloc[0:2, 0:2]

        Actor              Film
0  Ram Charan               RRR
1  Allu Arjun  Pushpa: The Rise

In [14]:
df.at[0,"Actor"]

'Ram Charan'

In [15]:
df.iat[0,0]

'Ram Charan'

In [18]:
df[df["IMDb Rating"]>8]["Actor"]

3       Prabhas
4    Aamir Khan
6          Yash
Name: Actor, dtype: object

In [19]:
df[(df["IMDb Rating"]>6) & (df["Year"]>2018)]

,Actor,Film,Year,Genre,Box Office Income (USD),IMDb Rating
0,Ram Charan,RRR,2022,Action/Drama,"160,000,000",8.0
1,Allu Arjun,Pushpa: The Rise,2021,Action/Crime,"130,000,000",7.6
2,Shah Rukh Khan,Jawan,2023,Action/Thriller,"137,000,000",7.0
6,Yash,K.G.F: Chapter 2,2022,Action/Crime,"160,000,000",8.3
8,Hrithik Roshan,War,2019,Action/Thriller,"76,000,000",6.5
9,Vijay,Leo,2023,Action/Thriller,"100,000,000",7.2

In [23]:
df.query("Year > 2019")

,Actor,Film,Year,Genre,Box Office Income (USD),IMDb Rating
0,Ram Charan,RRR,2022,Action/Drama,"160,000,000",8.0
1,Allu Arjun,Pushpa: The Rise,2021,Action/Crime,"130,000,000",7.6
2,Shah Rukh Khan,Jawan,2023,Action/Thriller,"137,000,000",7.0
6,Yash,K.G.F: Chapter 2,2022,Action/Crime,"160,000,000",8.3
7,Ranbir Kapoor,Brahm?stra,2022,Fantasy/Adventure,"120,000,000",5.6
9,Vijay,Leo,2023,Action/Thriller,"100,000,000",7.2

In [25]:
df2 = df[['Actor', 'IMDb Rating']] = "Mundane"

In [26]:
df2

'Mundane'

In [27]:
df

,Actor,Film,Year,Genre,Box Office Income (USD),IMDb Rating
0,Mundane,RRR,2022,Action/Drama,"160,000,000",Mundane
1,Mundane,Pushpa: The Rise,2021,Action/Crime,"130,000,000",Mundane
2,Mundane,Jawan,2023,Action/Thriller,"137,000,000",Mundane
3,Mundane,Baahubali 2: The Conclusion,2017,Action/Fantasy,"278,000,000",Mundane
4,Mundane,Dangal,2016,Drama/Sport,"300,000,000",Mundane
5,Mundane,2,2018,Sci-Fi/Action,"110,000,000",Mundane
6,Mundane,K.G.F: Chapter 2,2022,Action/Crime,"160,000,000",Mundane
7,Mundane,Brahm?stra,2022,Fantasy/Adventure,"120,000,000",Mundane
8,Mundane,War,2019,Action/Thriller,"76,000,000",Mundane
9,Mundane,Leo,2023,Action/Thriller,"100,000,000",Mundane