In [1]:
import pandas as pd

In [2]:
# core data structures

In [5]:
s = pd.Series([76,65,87,56,67,48,38,87,78,96])

In [6]:
type(s)

pandas.core.series.Series

In [7]:
print(s)

0    76
1    65
2    87
3    56
4    67
5    48
6    38
7    87
8    78
9    96
dtype: int64

In [9]:
s2 = pd.Series([76,65,87,56,67,48,38,87,78,96], 
               index=["Harry","Mundane","Imoyama","Quasimoto",
                      "Hanma","Bogane","Spongebob","Squarepants","Delulu","Shendi"])

In [11]:
print(s2)

Harry          76
Mundane        65
Imoyama        87
Quasimoto      56
Hanma          67
Bogane         48
Spongebob      38
Squarepants    87
Delulu         78
Shendi         96
dtype: int64

In [19]:
data = {
    "name":["alice","bob","charlie"],
    "age":[25,40,35],
    "city":["Delhi","Mumbai","Banglore"]
}
df = pd.DataFrame(data)

In [20]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
df

      name  age      city
0    alice   25     Delhi
1      bob   40    Mumbai
2  charlie   35  Banglore

In [22]:
df.columns

Index(['name', 'age', 'city'], dtype='object')